In [1]:
import pandas_datareader as pdr
import datetime

In [2]:
df_1 = pdr.DataReader("KOSPI.KS", "yahoo",start=datetime.datetime(2016, 2, 19),end=datetime.datetime.now())

In [3]:
df_1.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [4]:
df_1

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-14,2405.560059,2375.540039,2403.73999,2380.47998,901176,2380.47998